In [1]:
from google.colab import files
uploaded = files.upload()

Saving deliveries.csv to deliveries.csv

In [2]:
from google.colab import files
uploaded = files.upload()

Saving matches.csv to matches.csv

In [21]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import plotly.express as px
sns.set_style('darkgrid')
import warnings
import plotly.graph_objects as go
warnings.filterwarnings("ignore")

In [14]:
matches =pd.read_csv("matches.csv")

In [5]:
deliveries=pd.read_csv("deliveries.csv")

In [15]:
matches.describe()

                 id       season  dl_applied  win_by_runs  win_by_wickets
count    756.000000   756.000000  756.000000   756.000000      756.000000
mean    1792.178571  2013.444444    0.025132    13.283069        3.350529
std     3464.478148     3.366895    0.156630    23.471144        3.387963
min        1.000000  2008.000000    0.000000     0.000000        0.000000
25%      189.750000  2011.000000    0.000000     0.000000        0.000000
50%      378.500000  2013.000000    0.000000     0.000000        4.000000
75%      567.250000  2016.000000    0.000000    19.000000        6.000000
max    11415.000000  2019.000000    1.000000   146.000000       10.000000

In [8]:
deliveries.describe()

            match_id         inning  ...     extra_runs     total_runs
count  179078.000000  179078.000000  ...  179078.000000  179078.000000
mean     1802.252957       1.482952  ...       0.067032       1.313897
std      3472.322805       0.502074  ...       0.342553       1.605422
min         1.000000       1.000000  ...       0.000000       0.000000
25%       190.000000       1.000000  ...       0.000000       0.000000
50%       379.000000       1.000000  ...       0.000000       1.000000
75%       567.000000       2.000000  ...       0.000000       1.000000
max     11415.000000       5.000000  ...       7.000000      10.000000

[8 rows x 13 columns]

In [16]:
todayteam=matches[np.logical_or(np.logical_and(matches['team1']=='Kings XI Punjab',matches['team2']=='Royal Challengers Bangalore'),np.logical_and(matches['team2']=='Kings XI Punjab',matches['team1']=='Royal Challengers Bangalore'))]

In [17]:
todayteam.describe()

                 id       season  dl_applied  win_by_runs  win_by_wickets
count     24.000000    24.000000   24.000000    24.000000       24.000000
mean    1868.208333  2013.500000    0.041667    21.458333        3.875000
std     3617.912297     3.526299    0.204124    39.828959        3.615336
min        8.000000  2008.000000    0.000000     0.000000        0.000000
25%      170.500000  2010.750000    0.000000     0.000000        0.000000
50%      389.500000  2013.500000    0.000000     0.000000        4.500000
75%      578.250000  2016.250000    0.000000    19.750000        7.000000
max    11333.000000  2019.000000    1.000000   138.000000       10.000000

In [18]:
todayteam.head()

      id  season        city  ...       umpire1         umpire2 umpire3
7      8    2017      Indore  ...  AK Chaudhary   C Shamshuddin     NaN
41    42    2017   Bangalore  ...   CB Gaffaney   C Shamshuddin     NaN
83    84    2008   Bangalore  ...      SJ Davis     BR Doctrove     NaN
93    94    2008  Chandigarh  ...   BR Doctrove       I Shivram     NaN
126  127    2009      Durban  ...   BR Doctrove  TH Wijewardene     NaN

[5 rows x 18 columns]

In [19]:
print("Total Number Of matches Held between DC and RR : ",todayteam.shape[0])

Total Number Of matches Held between DC and RR :  24

In [22]:
name= todayteam.winner.value_counts().index
value= todayteam.winner.value_counts().values
px.pie(names=name,values=value)

In [23]:
todaydel=deliveries[np.logical_or(np.logical_and(deliveries['batting_team']=='Kings XI Punjab',deliveries['bowling_team']=='Royal Challengers Bangalore'),np.logical_and(deliveries['bowling_team']=='Kings XI Punjab',deliveries['batting_team']=='Royal Challengers Bangalore'))]

In [24]:
todaydel.head()

      match_id  inning  ... dismissal_kind fielder
1678         8       1  ...            NaN     NaN
1679         8       1  ...            NaN     NaN
1680         8       1  ...            NaN     NaN
1681         8       1  ...            NaN     NaN
1682         8       1  ...            NaN     NaN

[5 rows x 21 columns]

In [25]:
todaydel.groupby('bowling_team')['noball_runs'].nunique()

bowling_team
Kings XI Punjab                3
Royal Challengers Bangalore    3
Name: noball_runs, dtype: int64

In [30]:
todaydel.groupby('batting_team')['player_dismissed'].value_counts()

batting_team                 player_dismissed
Kings XI Punjab              DA Miller           9
                             SE Marsh            8
                             WP Saha             7
                             GJ Maxwell          5
                             Yuvraj Singh        5
                                                ..
Royal Challengers Bangalore  TM Head             1
                             Vishnu Vinod        1
                             W Jaffer            1
                             YV Takawale         1
                             Z Khan              1
Name: player_dismissed, Length: 116, dtype: int64

Kings XI Punjab has lost **135** wickets in 24 matches at an **average of 5.6 wickets per match**.

Kohli and ABD have made a partneship of **120 runs in 7 matches** against KXIPunjab at an average of **17 runs per match**.

Kings XI Punjab have hit **130** 6's and RCB have hit **57** 6's in 24 matches, getting a total of **187** 6's in 24 matches at an average of **8** 6's per match.

In [32]:
todaydel['noball_runs'].mean()

0.005295836376917458

Performing hypothesis for noball runs. Ho = mean of previous matches noballs = today's match no ball runs mean. Ha: reject Ho.

In [34]:
from scipy.stats import ttest_1samp
runs = todaydel['noball_runs']
tset, pval = ttest_1samp(runs, 0.005)
print("p-values",pval)
if pval < 0.05:    # alpha value is 0.05 or 5%
   print(" we are rejecting null hypothesis")
else:
  print("we are accepting null hypothesis")

p-values 0.8203024010537234
we are accepting null hypothesis